In [3]:
import numpy as np
import pandas as pd
from blaze import Data, by, join, merge
from odo import odo

In [4]:
from IO_csv import IO_csv
csvFpath = '/home/carl/spark/examples/carl_Spark/data'
csvFname = 'twtr15053001' # twtr15053001.csv
c = IO_csv(csvFpath, csvFname)

In [5]:
fields01 = ['id', 'created_at', 'user_id', 'user_name', 'tweet_text', 'url']
data = c.load('Tweet01', fields01)
twts_pd_df = pd.DataFrame(data, columns=fields01)

In [6]:
twts_pd_df.head()

,id,created_at,user_id,user_name,tweet_text,url
0,id,created_at,user_id,user_name,tweet_text,url
1,774933593206427649,Sun Sep 11 11:32:20 +0000 2016,2690281202,Info 24 US,"RT @TheTruth24US: Clinton remarks on ""half"" of...",http://goo.gl/4MoqDR
2,774933591830790145,Sun Sep 11 11:32:20 +0000 2016,2941365709,The Truth 24 US,"Clinton remarks on ""half"" of Trump backers spa...",http://goo.gl/4MoqDR

In [7]:
twts_pd_df.describe()

,id,created_at,user_id,user_name,tweet_text,url
count,3,3,3,3,3,3
unique,3,2,3,3,3,2
top,774933591830790145,Sun Sep 11 11:32:20 +0000 2016,2690281202,The Truth 24 US,"RT @TheTruth24US: Clinton remarks on ""half"" of...",http://goo.gl/4MoqDR
freq,1,2,1,1,1,2

In [9]:
twts_bz_df = Data(twts_pd_df)
twts_bz_df.schema

dshape("""{
  id: ?string,
  created_at: ?string,
  user_id: ?string,
  user_name: ?string,
  tweet_text: ?string,
  url: ?string
  }""")

In [10]:
twts_bz_df.dshape

dshape("""3 * {
  id: ?string,
  created_at: ?string,
  user_id: ?string,
  user_name: ?string,
  tweet_text: ?string,
  url: ?string
  }""")

In [11]:
twts_bz_df.data

,id,created_at,user_id,user_name,tweet_text,url
0,id,created_at,user_id,user_name,tweet_text,url
1,774933593206427649,Sun Sep 11 11:32:20 +0000 2016,2690281202,Info 24 US,"RT @TheTruth24US: Clinton remarks on ""half"" of...",http://goo.gl/4MoqDR
2,774933591830790145,Sun Sep 11 11:32:20 +0000 2016,2941365709,The Truth 24 US,"Clinton remarks on ""half"" of Trump backers spa...",http://goo.gl/4MoqDR

In [12]:
twts_bz_df.tweet_text.distinct()

                                          tweet_text
0                                         tweet_text
1  RT @TheTruth24US: Clinton remarks on "half" of...
2  Clinton remarks on "half" of Trump backers spa...